@font-face {
    font-family: Raleway;
    src: url(../assets/Raleway-VariableFont_wght.ttf);
}


#header {    display: flex;
    font-family: Raleway;
    margin: 300px 20px  300px 20px;
    justify-content: space-between;
    align-items: center;

}

body {font-family: Raleway ,sans-serif;
    margin: 0%;
    background-color: #e8dab2;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;

}

.bem-vindo {display: block;}

h2 {font-size: 26px;
font-style: italic;
margin-bottom: 0px;
display: block;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;}

h1 {font-size: 52px;
margin-top: 0%;
display: block;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0%;
font-weight: bold;
}

div {display: block;}

header img {width: 370px;
height: 192px;}

#main {padding: 20px;
}

main {margin-left: 50%;
transform: translateX(-50%);
background: white;
width: 800px;
padding: 10px;
box-shadow: black 0px 0px 6px;
text-align: justify;
border-radius: 2%;
margin-bottom: 45px;}

.salsicha {width: 700px;
margin-left: 20px;
}

.texto {font-weight: bold;
font-size: 30px;
padding: 0%;
margin-top: 0%;}

main p {font-size: 20px;}

p {display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

#video {font-weight: bold;
font-size: 30px;}

iframe {border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-style: inset;
border-color: initial;
border-image: initial;}

.video-iframe {width: 700px;
margin-left: 20px;}

#footer {color: white;
clear: both;
position: fixed;
bottom: 0%;
left: 0%;
width: 100%;
box-sizing: border-box;
background-repeat: no-repeat;
background-color: black;
background-size: 25% 100%;
font-size: 20px;
float: right;
margin-right: 30px;}

footer {display: block;}

a {text-decoration: none;
color: #35b1d2;
}

